
/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

/* fine common */

/* header  */

header{
    height: 70px;
}

header div{
    height: 50px;
    position: relative;
    margin-left: 15px;
    padding-top: 8px;
}

header h1{
display: inline-block;
position: absolute;
margin-left: 7px;
font-size: 40px;
}

/* fine header  */

/* main  */

main{
    width: 100%;
    background-color: #F6F8F9;
    height: 1000px;
    padding-top: 5%;
    padding-bottom:3%;


}

main > div {
    width: 75%;
    height: 950px;
    background: white;
    margin: auto;


}
/* fine  main  */
